.graph {
    .canvas {
        min-width: 240px;
        min-height: 240px;
        width: 150%;
        height: 150%;
    }

    .vertex {
        cursor: default;

        &.active {
            // ...
        }
    }
}

.graph.debug {
    .canvas {
        background-color: #ccc;
    }

    .vertex {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px dashed red;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
        }

        &.active {
            border: 1px dashed green;
        }
    }
}